/*░██████╗░██╗░░░░░░█████╗░██████╗░░█████╗░██╗░░░░░  ░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗*/
/*██╔════╝░██║░░░░░██╔══██╗██╔══██╗██╔══██╗██║░░░░░  ██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝*/
/*██║░░██╗░██║░░░░░██║░░██║██████╦╝███████║██║░░░░░  ╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░*/
/*██║░░╚██╗██║░░░░░██║░░██║██╔══██╗██╔══██║██║░░░░░  ░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗*/
/*╚██████╔╝███████╗╚█████╔╝██████╦╝██║░░██║███████╗  ██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝*/
/*░╚═════╝░╚══════╝░╚════╝░╚═════╝░╚═╝░░╚═╝╚══════╝  ╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░*/

body {
    background-image: linear-gradient(to right, #f2f2ff 0%, #ecfaff 100%);
    font-family: 'Nunito', sans-serif;
    padding: 50px 130px;
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

:root {
    --white: #fff;
    --dark-blue: #1c0d59;
    --baby-blue: #e4f1fb;
    --light-blue: #4a90e2;
}

/*███╗░░██╗░█████╗░██╗░░░██╗██╗░██████╗░░█████╗░████████╗██╗░█████╗░███╗░░██╗*/
/*████╗░██║██╔══██╗██║░░░██║██║██╔════╝░██╔══██╗╚══██╔══╝██║██╔══██╗████╗░██║*/
/*██╔██╗██║███████║╚██╗░██╔╝██║██║░░██╗░███████║░░░██║░░░██║██║░░██║██╔██╗██║*/
/*██║╚████║██╔══██║░╚████╔╝░██║██║░░╚██╗██╔══██║░░░██║░░░██║██║░░██║██║╚████║*/
/*██║░╚███║██║░░██║░░╚██╔╝░░██║╚██████╔╝██║░░██║░░░██║░░░██║╚█████╔╝██║░╚███║*/
/*╚═╝░░╚══╝╚═╝░░╚═╝░░░╚═╝░░░╚═╝░╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝*/

.navigation {
    display: flex;
}

.nav-home-link {
    font-size: 24px;
    color: var(--dark-blue);
    font-weight: 600;
    text-decoration: none;
}

.nav-home-link:hover, .nav-home-link:target {
    text-decoration: underline;
}

.nav-left {
    font-size: 26px;
    font-weight: 600;
    color: var(--dark-blue);
}

.nav-left a {
    text-decoration: none;
}

.flex-container-resume-top {
    display: flex;
}

.nav-flexbox-container {
    display: flex;
    margin-left: auto;
}

.nav-item {
    list-style: none;
    padding-left: 60px;
}

.nav-item a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.nav-item a:hover, .nav-item a:target {
    text-decoration: underline;
}

.nav-item-inactive a {
    color: var(--dark-blue);
}

.nav-item-active a {
    color: var(--light-blue);
}



.full-stack-developer {
    margin-top: 100px;
    color: var(--dark-blue);
    border-left: solid 4px var(--light-blue);
    display: block;
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.main-home {
    background-color: var(--white);
    width: inherit;
    margin: 0 auto;
    padding: 80px;
    border-radius: 14px;
}

.img {
    display: block;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
}

.h1-home {
    height: 57px;
    color: var(--dark-blue);
    font-weight: 600;
}

.heading-subtitle-home {
    display: block;
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

.icons-home {
    display: flex;
}

.icons-home li {
    list-style: none;
    padding-right: 16px;
}

.line {
    width: 100%;
    height: 1px;
    border-top: solid 2px var(--baby-blue);
    margin-top: 40px;
}

.main-home section h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-blue);
    margin-top: 40px;
}

.main-home section p {
    font-size: 20px;
    color: var(--dark-blue);
    font-weight: 200;
}

.contact li {
    list-style: none;
}

.main-home section ul {
    margin-top: 20px;
}

.main-home section a {
    color: var(--dark-blue);
    font-weight: 600;
    text-decoration: none;
}

.main-home section a:hover, .main-home section a:target {
    text-decoration: underline;
    color: var(--dark-blue);
}

.main-home section ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 13px;
}

.main-home section ul li img {
    padding-right: 20px;
}